.page {
  background-color: #333;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: 300;
}

.noticia-more {
  font-size: 25px !important;
  position: absolute;
  right: -10px;
  top: -18px;
  // ion-icon {
  //   color: var(--ion-color-primary) !important;
  // }
}

ion-card-title {
  font-size: 20px;
}